<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <form method="POST" action="/search" class="mt-4">
        <div class="form-group">
            <label for="search">Enter a request</label>
            <input type="text" class="form-control" id="textfs" name="search" required>
        </div>
        <button id="searchButton" type="submit" class="js-btn">Search</button>
    </form>

    <script>
        $('.js-btn').click(() => {
                $('html, body').animate({
                    scrollTop: $('.js-section').offset().top
                }, 200);
            });
    </script>
</header>
<body>
    <div class="js-section">
        <iframe id='browser' src="https://www.google.com/search?q=test" frameborder="10"></iframe>
        <iframe id='browser' src="https://ya.ru/search/?text=test" frameborder="10"></iframe>
        <iframe id='browser' src="https://duckduckgo.com/?q=test" frameborder="10"></iframe>
    </div>
</body>
</html>
